
.card{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.full_card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
}
.card_main{
    padding: 0.3rem;
    background: var(--bg-color);
    border: 1px solid transparent;
    border-radius: 1rem;
}
.card_main:hover{
    background: var(--bg-variant) transparent;
    border: 1px solid var(--bg-color);
}
.imgcontiner{
    height: 12rem;
    width: 12rem;
}
img{
    height: 10rem;
    width: 10rem;
    padding: 2px;
}
a{
    text-align: center;
    color: white;
}
.loding{
    text-align: center;
    font-size: 5rem;
}
@media (max-width:1000px){
    .full_card{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:600px){
    .full_card{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

