*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
   --bg-color:rgba(8, 8, 8, 0.288);
   --bg-variant:rgba(0, 128, 0, 0.103);

   --font-size:12rem;

}
body{
    background-color: cadetblue;
}