.search{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(43, 120, 124, 0.897);
    flex-direction: column;
    /* margin: 10px; */
    padding: 20px;
}
.search input{
    outline: none;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid rgb(0, 2, 0);
    background-color: transparent;
    text-align: center;
    border-radius:20px ;
    /* width: 10px; */
    height: 30px;
    font-size: 1.2rem;
}
.search h2{
    margin: 10px;
    border: 1px solid green;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
    
}
h6{
    font-size: 1rem;
}
p{
    color: red;
}